*
{
    margin: 0;
    padding: 0;
}

body
{
 margin: 0;
 font-family: Arial, sans-serif;
 background-color: lightgrey;
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(90, 89, 89);
    line-height: 80px;
    font-size: 20px;    
}

.container div
{
    color: rgb(229, 255, 0);

}


.container ul
{   display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 214, 71);
    list-style: none;
    
}

.container ul li
{
padding-left: 20px;
padding-right: 20px;
cursor: pointer;
}


span:hover
{ 
    font-size: 1.1em;    
}

li a
{
    color: black;
    text-decoration: none;
}

li a:hover
{
    color: gold;
    background-color: black;
}


.colunas
{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height: 750px;
    justify-content: space-around;

}

img
{
    display: flex;
    max-width: 250px;
    max-height: 200px;
    justify-content: space-around;
}

@media (max-width:700px)
{

    .container span
    {
        display: none;
    }
    
    .container ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;


    }

    .colunas
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 400px;
        margin-bottom: 5%;
        max-height: 1000px;
    }

}